torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
opencv-python-headless
tqdm
scikit-image
scikit-learn
scipy
onnx>=1.12.0
paddle2onnx==1.0.5
onnxruntime-gpu
typeguard
visualdl>=2.2.0
opencv-python<=4.6.0
numpy
PyYAML
shapely
scipy
terminaltables
Cython
pycocotools
setuptools
matplotlib
imgaug
pandas
opencv-python-headless
